version: '3'

services:
  backend:
    container_name: savify-backend
    build: 
      context: .
      dockerfile: Dockerfile
      restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env