fastapi
groq
langchain-core
langchain-groq
pydantic==1.10.13
python-dotenv
python-multipart
reportlab
requests
uvicorn
aiosmtplib
appwrite>=13.6.1
google-api-core>=2.28.1
google-api-python-client>=2.187.0
google-auth-oauthlib>=1.2.3
slowapi>=0.1.9