pydantic
uvicorn
python-multipart
groq
python-dotenv
reportlab
requests
aiosmtplib
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
appwrite
fastapi
google-api-core
langchain-core
langchain-groq
slowapi